[Unit]
Description=fbcp service
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/fjaelllada/start_fbcp.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target